.project{


    
    display: flex;

    flex-direction: column;

    height: 100vh;



}
.project-heading{

    text-align: center
    ;
    font-size: 3rem;

    margin-top: 1rem;

    margin-bottom: 5rem;
}
.project-content{

    max-width: 80vw;
    margin-left: auto;
    margin-right: auto;

    display: grid;

    gap: 2rem;
    grid-template-columns: repeat(3 , minmax(4rem , 80vw));


}

.project-heading-underline{

    position: absolute; 
}


.project-heading-underline img{

    height: 2.5rem;
    position: relative ; 

    top: 2rem;
    left: 45rem;

    z-index: -1;
}



/* now for each section of experience */


/* .project-section-content{

    height: 33vh;

    border-radius: 1rem;
    transition: 0.3s;


}
.project-section-content:hover{

    transform: scale(1.1);
}


.project-section-content img{
     



    border-radius: 1rem;

    width: 100%;

   
    
    

} */



