.experience{

    height: 100vh;

    text-align: center;

    
}

.experience-heading{

    margin-top: 1rem;

    

    font-size: 3rem;

    margin-bottom: 5rem;
    padding-top: 2rem;
}

.experience-position{

    position: relative;

    height: 1rem;
}
.experience-position img{

    position: absolute;
    height: 3rem;

    top: -110px;
    left: 750px;

    z-index: -1;
}

.experience-grid{

    display: grid;



    gap: 2rem
    ;

    max-width: 80vw;

    margin-left: auto;
    margin-right: auto;
    grid-template-columns: repeat(3 , minmax(120px , 750px ));


}

.not-display{

    display: none;
}

.display{

    
}