.navbar{
    display: flex;
    justify-content: space-between;

    padding-left: 7rem;
    padding-right: 6rem;


   align-items: center;
    
   /* height: 10vh; */

    /* position: absolute; */

    margin-top: 1rem;
}

.nav-image{

    height: 3rem;
}
.nav-menu{
    display: flex;
    
    align-items: center;

    gap: 60px; 

    /* to give space between flex items use gap: property  */

    list-style: none;
   
}
.nav-connect{

    border-radius: 50px;

    background-image: linear-gradient(to right , rgb(199, 115, 181) 50% , orange);

    padding: 1rem;

    font-size: 15px;

    transition: 0.5s;  

    /* so that smooth transitioning ho */
  
}
.nav-connect:hover{

    transform: scale(1.05);
}
