.intro{
    
    /* margin-top: 2rem; */
     display: flex;


     align-items: center;
     height: 95vh;
     flex-direction: column;
   /* justify-content: space-between; */

   gap: 2rem;
}
.intro-footer{

    display: flex;

  align-items: center;

  margin-left: auto;
  margin-right: auto;

   gap: 3rem;
}
.intro img{

    height: 21rem;
    width: 21rem;

    border-radius: 50%;

    margin-top: 2rem;


}
.intro-heading{

    font-size: 3rem;
    width: 35rem;
    text-align: center;

}

.intro-color{

    background: linear-gradient(to right , rgb(235, 63, 198)20% , rgb(224, 162, 47)); /* Define your gradient colors */
    background-clip: border-box; 
    -webkit-background-clip: text; /* Clip the background to the text */
    -webkit-text-fill-color: transparent; /* Make the text fill transparent */

}
/* .intro-color1{

    color: rgb(234, 186, 96);
} */
.intro-description{

    font-size: 1.2rem;
    width: 40rem;
    text-align: center;
}
.intro-footer div{

    border-radius: 2rem;

    padding: 1.3rem;

    cursor: pointer;

}
.first-div{

    background: linear-gradient(to right , rgb(235, 63, 198)20% , rgb(224, 162, 47)); /* Define your gradient colors */
    transition: 0.5s;
}
.first-div:hover{
    transform: scale(1.08);
    border: 2px solid white;
}
.second-div{

   border: 2px solid white;

   transition: 0.5s;

   padding-left: 1.9rem !important;
   padding-right: 1.9rem !important;
}
.second-div:hover{
    transform: scale(1.08);

    border: 2px solid rgb(215, 105, 215);
}

